<%- include("../partials/head",{
        title : "Detalle del producto"
    }) %>

    <body class="detalle">
        <%- include('../partials/navbar') %>

            <main class="detalle__main">
                <section class="detalle__main--section">
                    <article class="detalle__main--section-producto">
                        <%  productId.forEach(({id, name, price , discount, image, description}) => { %>
                            <div class="detalle__section-producto">
                                <img src="/images/images_Ley-Seca/<%= image %>" alt="">
                            </div>
                            <div class="detalle__producto-detalle">
                                <h3>
                                    <%=name %>
                                </h3>
                                <p>
                                    <%= description %>
                                </p>
                                <h4>$
                                    <%= price %>
                                </h4>
                                <p>Cantidad</p>
                                <button>- 1 +</button>
                                <div class="detalle__button--carrito">
                                    <a href="/products/shopping-cart/<%= id %>"> <button class="button">AGREGAR AL CARRITO</button></a>
                                </div>

                            </div>
                            <div class="detalle__button--carrito">
                                <a href="/products/edit/<%=id%>"> <button class="button">EDITAR</button></a>
                            </div>
                            <form action="/products/delete/<%= id %> ?_method=DELETE " method="POST">
                                <button type="submit" class="button">ELIMINAR</button>
                            </form>
                            <% }) %>



                    </article>


                </section>

                <h2 class="detalle__text--sugerencia">Te puede interesar</h2>
                <section class="home__main__section__products">

                    <% productsStatus.forEach(({id, name, price , discount, image}) => { %>
                        <%- include('../partials/products',{
                    id, 
                    name,
                    price,
                    discount,
                    image,
                    toThousand

                 }) %>
                            <% }) %>



                </section>









                </section>

            </main>

            <%- include('../partials/footer') %>
    </body>

    </html>