<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head",{ title : "Detalle del producto" }) %>

  <body class="detalle">
    <%- include('../partials/modal') %> <%- include('../partials/navbar') %>

        <main class="detalle__main">

          <section class="section-detail">
            <article class="detalle__main--section-producto">
              <div class="detalle__section-producto">
                <img src="/images/images_Ley-Seca/<%= product.image %>" alt="" />
              </div>
              <div class="detalle__producto-detalle">
                <h3>
                  <%=product.nameProduct %>
                </h3>
                <p>
                  <%= product.description %>
                </p>
                <div class="precio-cantidad">
                  <h4>Precio: $ <%= product.price %>
                  </h4>

                </div>
                <hr />
                <div class="detalle__button--agregar">

                  <% if (locals.userLogin && userLogin.rol===1) { %>
                    <a href="/products/edit/<%=product.id%>">
                      <button class="delete-ok">Editar</button></a>
                    <button type=" submit" id="delete" class="delete">ELIMINAR</button>
                    <% } %>
                      <% if (locals.userLogin && userLogin.rol===2) { %>
                        <button class="button" onclick="addCartItem('<%=product.id%>')">AGREGAR AL
                          CARRITO</button></a>

                        <% } %>



                </div>
              </div>
            </article>
            <!-- <img src="/images/logos/crears - copia.png" width="100%" alt=""> -->
          </section>


          <h2 class="detalle__text--sugerencia">Te puede interesar</h2>
          <section class="home__main__section__products">
            <% productsStatus.forEach(({id, nameProduct, price , discount, image})=> { %>
              <%- include('../partials/products',{ id, nameProduct, price, discount, image, toThousand }) %>
                <% }) %>
          </section>
          <div class="container-modal">
            <div id="modal-none" class=" modal-none">

              <p class="delete-text"> ¿Estás seguro/a que deseas eliminar este producto?</p>
              <% if (locals.userLogin && userLogin.rol===1) { %>
                <form action="/products/delete/<%= product.id %> ?_method=DELETE " id="form-remove" method="POST">
                  <button type="submit" id="delete-ok" class="delete-ok">Si</button>
                  <button type="button" class="delete" id="delete-no">No</button>
                </form>
                <% } %>
            </div>
        </main>
        <div class="payment">
          <img src="/images/logos/Banner-paiment.jpg" alt="">
        </div>

        <%- include('../partials/footer') %>
          <script>
            const $ = (element) => document.getElementById(element);
            $('delete').addEventListener('click', (e) => {
              $('modal-none').classList.remove('modal-none')
              $('modal-none').classList.add('modal-profile')
            })
            $('delete-no').addEventListener('click', (e) => {
              $('modal-none').classList.add('modal-none')
            })
            $('delete-ok').addEventListener('click', (e) => {
              $('delete-ok').submit()
            })
          </script>
  </body>

</html>