<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head",{ title : "Tu carrito" }) %>

  <body class="cart">
    <%- include('../partials/navbar') %>

      <main class="carrito__main">
        <div class="container-cart">
          <section class="carrito__main--section">
            <div class="img">
              <img src="/images/images_Ley-Seca/<%= productCart.image %>" alt=" botella " />
            </div>


            <div class="carrito__producto--compra">
              <h3 class="title__beer--ipa">
                <%=productCart.nameProduct %>
              </h3>
              <p>
                <%=productCart.description %>
              </p>
              <h4>
                $ <%= productCart.price %>
              </h4>
              <p>Cantidad:</p>

              <div class="contain-btn">

                <button class="button">Pagar </button>
                <button class="button">Vaciar </button>

                <button class="button">
                  Salir
                </button>

              </div>

            </div>

          </section>

        </div>
        <div class="payment">
          <img src="/images/logos/Banner-paiment.jpg" alt="">
        </div>

      </main>
      <%- include('../partials/footer') %>

  </body>

</html>