<%- include('./partials/head', { title : 'Home' }) %>

    <body class="home">



        <%- include('./partials/header') %>


            <!-- MAIN -->

            <main class="home__main">

                <!-- MAIN SECTION PRODUCTS -->

                <h1 id="title_shop">SHOP</h1>
                <section class="home__main__section__products">

                    <%- include('./partials/products') %>
                        <%- include('./partials/products') %>
                            <%- include('./partials/products') %>
                                <%- include('./partials/products') %>

                </section>

                <!-- SECTION EXPERIENCE -->
                <h1 id="title_experience">EXPERIENCIAS</h1>
                <section class="home__main__section__experience">

                    <article class="home__main__section--experience">
                        <label>RESERVA ACÁ</label>
                        <div class="home__main__description-experience">
                            <img src="/images/images_Ley-Seca/experiencia-domos.jpeg" alt="">

                            <h2>DOMOS</h2>
                            <p> Viví una experiencia única y disfrutá lo mejor de nuestra naturaleza.</p>


                        </div>
                    </article>

                    <article class="home__main__section--experience">
                        <label>RESERVA ACÁ</label>
                        <div class="home__main__description-experience">
                            <img src="/images/images_Ley-Seca/experiencia-patagonia.png " alt="">

                            <h2>EXPERIENCIA PATAGONIA</h2>
                            <p> Viví la Patagonia de una manera diferente en un viaje único.</´p>


                        </div>
                    </article>

                    <article class=" home__main__section--experience">
                        <label>Conocé más</label>
                        <div class="home__main__description-experience ">
                            <img src="/images/images_Ley-Seca/instalaciones-tanques.webp" " alt=" "> 

                            <h2>TOUR CERVECERO</h2>
                            <p> Vení a conocer como se hace nuestra cerveza y todos sus secretos.</p>
                        </div>
                    </article>



                    <article class=" home__main__section--experience-none ">

                        <label>Conocé más</label>
                        <div class=" home__main__description-experience ">

                      <img src=" /images/images_Ley-Seca/experiencia-instalaciones.jpg " alt=" ">
                            <h2 id=" sucursales ">NUESTROS BARES</h2>
                            <p> Descubrí todas nuestras sucursales.</p>
                        </div>
                    </article>
                    <article class=" home__main__section--experience-none-2 ">

                        <label>Conocé más</label>
                        <div class=" home__main__description-experience ">

                      <img src="/public/images/images_Ley-Seca/nuestros-bares.jpg " alt=" ">
                            <h2 id=" sucursales ">NUESTROS BARES</h2>
                            <p> Descubrí todas nuestras sucursales.</p>
                        </div>
                    </article>

                </section>









            </main>
            <%- include('./partials/footer') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa " crossorigin="anonymous "></script>
    </body>

    </html>