<%- include('./partials/head', { title : 'Shop' }) %>

    <body class="home">



        <%- include('./partials/navbar') %>


            <!-- MAIN -->

            <main class="home__main">

                <!-- MAIN SECTION PRODUCTS -->

                <h1 id="title_shop">SHOP</h1>
                <section class="home__main__section__products">

                    <%- include('./partials/products') %>
                        <%- include('./partials/products') %>
                            <%- include('./partials/products') %>
                                <%- include('./partials/products') %>

                </section>

                <section class="home__main__section__products">

                    <%- include('./partials/products') %>
                        <%- include('./partials/products') %>
                            <%- include('./partials/products') %>
                                <%- include('./partials/products') %>

                </section>
                <section class="home__main__section__products">

                    <%- include('./partials/products') %>
                        <%- include('./partials/products') %>
                            <%- include('./partials/products') %>
                                <%- include('./partials/products') %>

                </section>










            </main>

            <%- include('./partials/footer') %>

    </body>

    </html>