<article class="home__main__section--product">
    <% if (discount> 0) { %>
        <label> <%=discount %> % Off</label>

        <% } %>

            <div class="home__main__description-products">
                <a href="/products/productDetail/<%= id %> " class="home__detalle"><img src="/images/images_Ley-Seca/<%= image %>" alt=""></a>
                <div class="description-products">

                    <% if (discount> 0) { %>
                        <b>
                            <h3 class="descount">
                                <%= toThousand((price - (price / 100 * discount)) .toFixed(0)) %>
                            </h3>
                        </b>
                        <% } %>

                            <h3>$
                                <%= price %>
                            </h3>
                            <h3>
                                <%= name %>
                            </h3>
                </div>

                <div class="home__button__products">

                    <a href="/products/shopping-cart/<%= id %>"> <button class="button">Comprar</button></a>
                </div>

            </div>
</article>