<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : 'Login' }) %>

    <body class="login">



        <%- include('../partials/navbar') %>

            <h2 class="form__title">Inicia Sesión</h2>
            <p>¿No tenés cuenta?<a href="/users/register"> Registrate acá</a></p>

            <form class="profile-edit" action="" method="post">
                <div class="form__register-container">
                    <div class="form_profile">
                        <input type="text" id="user" class="form__input" name="user">
                        <label for="user" class="form__label">Usuario:</label>
                        <small>
                            <%= locals.errors && errors.user ? errors.user.msg : null%>
                        </small>

                    </div>
                    <div class="form_profile">
                        <input class="form__input" type="password" id="password" name="password">
                        <label class="form__label" for="password">Contraseña:</label>
                        <small>
                            <%= locals.errors && errors.password ? errors.password.msg : null%>
                        </small>

                    </div>

                    <div class="form__register-button">
                        <button type="submit" class="button" value="Guardar">Ingresar</button>
                        <input type="reset" class="button" value="Salir">
                    </div>
                </div>
            </form>

            </div>
            <%- include('../partials/footer') %>


                </main>
    </body>

</html>