<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title : 'Perfil' }) %>

  <body class="body__register">
    <%- include('../partials/modal') %> <%- include( '../partials/navbar' ) %>

        <main class="main__profile">
          <div class="container-modal">
            <div id="modal-none" class=" modal-none">

              <p class="delete-text"> ¿Estás seguro/a que deseas eliminar tu cuenta?</p>
              <form action="/users/remove/<%= user.id %>?_method=DELETE" id="form-remove" method="POST">
                <button type="submit" id="delete-ok">Si</button>
                <button type="button" class="delete" id="delete-no">No</button>

              </form>
            </div>


          </div>
          <div class="main__profile-section">
            <h2 class="form__title-profile">Tu perfil</h2>
            <div class="form__register-container-profile">
              <div class="form__register-photo">
                <figure class="image_profile">
                  <img src="/images/users/<%= user.avatar %>" />
                </figure>
              </div>

              <div class="form_profile">
                <%= user.firstName %>
              </div>

              <div class="form_profile">
                <%= user.surname %>
              </div>
              <div class="form_profile">
                <p>
                  <%= user.user %>
                </p>
              </div>
              <div class="form__register-date">
                <p>Fecha de nacimiento:</p>
                <p>
                  <%= user.date %>
                </p>
              </div>
              <div class="form_profile">
                <p>
                  <%= user.address %>
                </p>
              </div>
              <div class="form_profile">
                <p>
                  <%= user.email %>
                </p>
              </div>

              <div class="form__register-button">
                <a href="/users/profileEdit/<%= user.id %>">
                  <button class="button">Editar Perfil</button></a>

                <a href="/"> <button class="button">Salir</button></a>
              </div>

              <button type="submit" class="delete" id="delete">Eliminar</button>

            </div>

            <%- include( '../partials/footer' ) %>
          </div>



        </main>
        <script>
          const $ = (element) => document.getElementById(element);
          $('delete').addEventListener('click', (e) => {
            $('modal-none').classList.remove('modal-none')
            $('modal-none').classList.add('modal-profile')
          })
          $('delete-no').addEventListener('click', (e) => {
            $('modal-none').classList.add('modal-none')
          })
          $('delete-ok').addEventListener('click', (e) => {
            $('delete-ok').submit()
          })
        </script>
  </body>

</html>