<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title : 'Perfil' }) %>

  <body class="body__register">
    <%- include( '../partials/navbar') %>

    <main class="main__profile">
      <div class="main__profile-section">
        <h2 class="form__title-profile">Tu perfil</h2>
        <div class="form__register-container-profile">
          <div class="form__register-photo">
            <figure class="image_profile">
              <img
                src="/images/users/<%= user.avatar %> "
                alt="image"
                width="200px"
              />
            </figure>
          </div>

          <div class="form_profile">
            <input type="text" id="name" class="form__input" />
            <label for="name" class="form__label"
              ><%= user.name %><%= user.lastName %>></label
            >
          </div>
          <div class="form_profile">
            <input
              type="text"
              id="user"
              class="form__input"
              placeholder=" "
              autocomplete="off"
            />
            <label for="user" class="form__label"><%= user.user %> </label>
          </div>
          <div class="form__register-date">
            <p>Fecha de nacimiento:</p>
            <input
              type="date"
              id="date"
              class="register-date"
              value="<%= user.date %>"
            />
          </div>
          <div class="form_profile">
            <input type="text" id="address" class="form__input" />

            <label for="address" class="form__label"
              ><%= user.address %>
            </label>
          </div>
          <div class="form_profile">
            <label class="form__label" for="email"><%= user.email %> </label>
            <input class="form__input" type="email" id="email" name="email" />
          </div>

          <div class="form__register-button">
            <a href="/users/profileEdit/1">
              <button class="button">Editar Perfil</button></a
            >

            <input type="reset" class="button" value="Eliminar Perfil" />
          </div>
        </div>

        <%- include( '../partials/footer') %>
      </div>
    </main>
  </body>
</html>
